.form {
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  box-shadow: var(-shadow-2);
}

.form div {
  margin-bottom: 1rem;
}

.formBtnContainer {
  margin: 2rem 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
