.form {
  /* background: red; */
  padding: 2rem;
}

.form div {
  margin-bottom: 1rem;
}

.formBtnContainer {
  margin: 2rem 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
