.checkoutPage {
  composes: cartListPage from '../CartPage/CartPage.module.css';
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem 3rem;
}

.checkoutPage h3 {
  text-align: center;
  font-size: 1.25rem;
  color: var(--primary-500);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .checkoutPage {
    flex-direction: row;
  }
}
