.filtersContainer {
  border: 2px solid black;
  margin: 0 auto;
  width: 300px;
  height: 35rem;
  overflow-y: auto;
  background: var(--white);
  padding: 1rem 1.5rem;
  border-radius: var(--borderRadius);
  border: 0.15rem solid var(--primary-600);
}

.filtersContainer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtersContainer header > p {
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  margin: 1rem 0;
}

.filtersContainer legend {
  color: var(--primary-500);
  font-size: 1rem;
  font-family: 600;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  letter-spacing: var(--letterSpacing);
}

.filtersContainer fieldset {
  padding: 0.25rem 0.5rem;
  margin-top: 0.15rem;
  border-color: var(--primary-500);
}
.filtersContainer label {
  text-transform: capitalize;
}

.ratingFieldset label > svg {
  margin-bottom: -0.1rem;
}

.colorsContainer {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  /* background: red; */
}

.colorsContainer .allBtn {
  color: var(--grey-500);
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  text-transform: capitalize;
  /* border: 2px solid red; */
}

.allBtn.underlineBtn {
  border-bottom: 2px solid var(--primary-500);
}

.colorsContainer .colorBtn {
  width: 1rem;
  height: 1rem;
  opacity: 0.7;
  outline-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.colorsContainer .active {
  opacity: 1;
}

.active {
  display: grid;
  justify-content: center;
  align-content: center;
}

.active svg {
  font-weight: 600;
  color: var(--white);
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .filtersContainer {
    position: sticky;
    top: 6rem;
    width: 250px;
    margin-left: -2rem;
  }
}
