.filtersContainer {
  border: 2px solid black;
  margin: 0 auto;
  width: 300px;
  height: 36.5rem;
  overflow-y: auto;
  background: var(--white);
  padding: 1rem 1.5rem;
  border-radius: var(--borderRadius);
  border: 0.15rem solid var(--primary-600);
}

.filtersContainer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtersContainer header > p {
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  margin: 1rem 0;
}

.filtersContainer legend {
  color: var(--primary-500);
  font-size: 1rem;
  font-family: 600;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  letter-spacing: var(--letterSpacing);
}

.filtersContainer fieldset {
  padding: 0.25rem 0.5rem;
  margin-top: 0.15rem;
  border-color: var(--primary-500);
}
.filtersContainer label {
  text-transform: capitalize;
}

.ratingFieldset label > svg {
  margin-bottom: -0.1rem;
}

.filtersContainer select {
  padding: 0.25rem;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .filtersContainer {
    position: sticky;
    top: 6rem;
    width: 250px;
    margin-left: -2rem;
  }
}
