.addressCard {
  display: flex;
  align-items: flex-start;
  background: var(--white);
  gap: 0.5rem;

  margin-bottom: 1.5rem;
  box-shadow: var(--shadow-2);
  letter-spacing: var(--letterSpacing);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
}

.addressCard:active {
  transform: scale(0.95);
}

.addressCard p {
  margin-bottom: 0.75rem;
}

.addressCard.selected {
  background: var(--primary-500);
  color: var(--white);
}

.addressCard label {
  cursor: pointer;
  padding: 1rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
}

.addressCard h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addressCard input {
  margin-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  accent-color: var(--black);
  height: 1.25rem;
  width: 1.25rem;
}

@media screen and (min-width: 768px) {
  .addressCard {
    margin-bottom: 2rem;
  }

  .addressCard:hover {
    box-shadow: var(--shadow-4);
  }

  .addressCard label {
    padding: 2rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .addressCard input {
    height: 1.25rem;
    width: 1.25rem;
  }
}
