/*
=============== 
Variables
===============
*/
/* fonts */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /*16px*/

:root {
  /* colors */
  --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #bfdbfe;
  --primary-300: #93c5fd;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-medium: red;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --green-medium: #109910;

  /* fonts  */
  --headingFont: 'Montserrat', sans-serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--primary-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1.5px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1280px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  --overlay-bcg: rgba(0, 0, 0, 0.3);
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}
a,
button {
  line-height: 1.15;
}
button:disabled {
  cursor: not-allowed;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--primary-300);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: var(--primary-500);
}
.cursor-pointer {
  cursor: pointer;
}

.btn ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.section {
  padding: 4rem 0;
}

.white-bcg {
  background: var(--white);
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn:active {
  transform: scale(0.9);
}

.btn-activated {
  background: var(--primary-700);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-hipster-activated {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
}
.btn-danger:hover {
  background: var(--red-dark);
  color: var(--white);
}

.btn-success {
  background: var(--green-light);
  color: var(--green-dark);
}
.btn-success:hover {
  background: var(--green-dark);
  color: var(--white);
}

.btn-padding-desktop:disabled {
  background: var(--grey-300);
  color: var(--white);
}

.btn-center {
  display: block;
  margin: 1rem auto;
  width: fit-content;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: fit-content;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}
.form:hover {
  box-shadow: var(--shadow-4);
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}
.form-input,
.form-select,
.btn-block {
  height: 35px;
}

.btn-block {
  margin-bottom: 0.5rem;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 5rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--primary-500);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-2 {
  width: 20px;
  height: 20px;
  border: 5px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.horizontal-center {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
  margin: auto;
}

.font-size-one-half {
  letter-spacing: var(--letterSpacing);
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .font-size-one-half {
    font-size: 1.5rem;
  }
}

.primary-color-text {
  color: var(--primary-600);
}

/* title */

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
.full-page {
  min-height: 100vh;
  padding: 2.5rem 0;
}

.half-page {
  min-height: calc(100vh - 13.8rem);
  padding: 2.5rem 0;
}

@media screen and (min-width: 768px) {
  .half-page {
    min-height: calc(100vh - 13.75rem);
  }
}

.coffee-info {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: var(--letterSpacing);
}
.coffee-info span {
  display: block;
}
.coffee-info a {
  color: var(--primary-500);
}

@media screen and (min-width: 992px) {
  .coffee-info {
    text-align: left;
  }
  .coffee-info span {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.Toastify__toast-container {
  width: fit-content;
  margin: 0.5rem 0 0 0.5rem;
}

.Toastify__toast {
  text-transform: capitalize;
  width: fit-content !important;
  max-width: fit-content;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  border-radius: var(--borderRadius);
}

@media screen and (min-width: 768px) {
  .Toastify__toast {
    font-size: 1rem;
  }
}

.search {
  width: 100%;
  padding: 0.4rem 0.5rem;
  background: var(--grey-50);
  border-color: transparent;
  outline: 2px solid transparent;
  transition: var(--transition);
  border-radius: var(--borderRadius);
}

.search::placeholder {
  letter-spacing: var(--letterSpacing);
}

.btn-width-100 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .btn-width-100 {
    font-size: 1.1rem;
    padding: 0.5rem;
  }
}

.grid-center {
  display: grid;
  place-items: center;
}

.page-without-navHeight {
  min-height: calc(100vh - var(--nav-height));
}

.white-color {
  color: var(--white);
}

.error-text {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  font-size: 1.25rem;
  margin-top: 2rem;
}

.success-text {
  color: var(--green-medium);
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .success-text {
    font-size: 2rem;
  }
  .btn-padding-desktop {
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
  }
}

.bold {
  font-weight: 600;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-2 {
  margin-top: 2rem;
}
